@import "tailwindcss";
@custom-variant dark (&&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --title: #362367;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-title: var(--title);
  --color-text: var(--text);
  --color-subtitle: var(--subtitle);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html.dark {
  --background: #090612;
  --foreground: #362367;
  --title: #cac1e8;
  --text: #f3eef8;
  --subtitle: #d8c9ea;
}

html.light {
  --background: #ffffff;
  --foreground: #171717;
  --title: #362367;
  --text: #090612;
  --subtitle: #6340bc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
